<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="/styles/home.css" />

    <%- include('head', {account: {}, env: null}); %>
  </head>
  <body>
    <div class="container">
      <div class="content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
        <h1>
          <img src="/images/logo.png" />
        </h1>
        <h1 style="font-size: 3em; margin: 0;">Uh oh!</h1>
        <h2>There was an error!</h2>
        <pre style="padding: 10px; padding-left: -50px; color: silver; background: #23272A; border: 1px solid #1a1a1a; border-radius: 10px; text-align: left; max-width: 500px; overflow-x: auto;"><%- message %></pre>
      </div>
    </div>
  </body>
</html>