<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= config.title %></title>
    <%- include('head', {account: null, env: env}); %>
    <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>
    <div class="content">
      <h1>
        <img src="/images/logo.png" />
      </h1>
      <hr />
      <div class="row mb-4">
        <div class="col-xs-12 col-6">
          <a href="/invite" class="btn btn-dark btn-lg"><%= lang.nav.INVITE %></a>
        </div>
        <div class="col-xs-12 col-6">
          <a href="/login" class="btn btn-primary btn-lg"><%= lang.nav.LOGIN %></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="/donate" class="btn btn-dark btn-lg">Donate</a>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="description">
        <p>A discord bot for posting game announcements for RPGs. Features include:</p>
        <ul>
          <li>
            A web interface for
            <ul>
              <li>
                Signing up for or dropping out of games
              </li>
              <li>
                Posting and editing game announcements
              </li>
            </ul>
          </li>
          <li>
            Automated or manual sign ups and automated waitlisting
          </li>
          <li>
            Automated reminders
          </li>
        </ul>
      </div>
    </div>
    <div class="feature wrap-reverse">
      <img src="/images/screenshot3.png" alt="Upcoming Games" />
      <div>
        <h3>Upcoming Games</h3>
        <p>
          This screen shows upcoming games that have been scheduled. Players can sign up or drop out using the button on the event. Clicking on an event displays additional
          information about it.
        </p>
      </div>
    </div>
    <div class="feature wrap">
      <div>
        <h3>Post Games</h3>
        <p>
          Game Masters can post games using the web interface and choose whether to use the built-in automated sign up features or use custom signup instructions. The GM can also
          set a reminder that will either be sent to the game announcements channel on the Discord server or to each participants' private messages, depending on the server's
          reminder configuration.
        </p>
      </div>
      <img src="/images/screenshot.png" alt="Post Games" />
    </div>
    <div class="feature wrap-reverse">
      <img src="/images/screenshot2.png" alt="Game Announcements" />
      <div>
        <h3>Discord Announcements</h3>
        <p>
          When a game is posted, an announcement will be posted in the designated channel on Discord. Players can sign up either via the web interface or the reaction buttons
          directly on the game announcement. Whenever a game is updated, the announcement will automatically be updated.
        </p>
      </div>
    </div>
  </body>
</html>
