<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= config.title %></title>
    <% include head.ejs %>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
<div class="content">
    <h1>
        <img src="/images/logo.png">
    </h1>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-6">
            <a href="/invite" class="btn btn-primary btn-lg"><%= lang.nav.INVITE %></a>
        </div>
        <div class="col-xs-12 col-6">
            <a href="/login" class="btn btn-dark btn-lg"><%= lang.nav.LOGIN %></a>
        </div>
    </div>
</div>
<% include foot.ejs %>