<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Maintenance</title>
    <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>
    <div class="content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
      <h1>
        <img src="/images/logo.png" />
      </h1>
      <h1>is under maintenance</h1> 
      <h2>It will be back soon!</h2>
    </div>
  </body>
</html>