<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RPG Schedule has Moved!</title>
    <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>
    <div class="content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
      <h1>
        <img src="/images/logo.png" />
      </h1>
      <h1>has moved!</h1> 
      <h2>Visit the updated URL at:</h2>
      <h2><a href="http://www.rpg-schedule.com" style="color: #536fd2;">www.rpg-schedule.com</a></h2>
    </div>
  </body>
</html>
