body {
    background-color: #2f3236;
    color: #fff;
    overflow-x: hidden;
}

@-ms-viewport{
    width: device-width;
}

input[readonly], input[disabled] {
    background-color: #aaa !important;
}

.error {
    color: salmon;
}

.bg-primary {
    background-color: #202225 !important;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    color: #fff;
    background-color: #484C52;
    border: 1px solid #484C52;
}

input[readonly], input[disabled] {
    background-color: #2B2C31 !important;
    border-color: #2B2C31;
}

.input-group-text {
    color: #fff;
    background-color: #484C52;
    border: 1px solid #484C52;
}

.pinfo {
    padding: 5px 0;
}

.pinfo p {
    margin: 5px 0;
    padding: 0;
}

hr {
    border-color: rgba(255,255,255,0.2);
}

.navbar-icon {
    width: 35px; height: 35px;
    margin-top: -5px;
    margin-right: 5px;
}

@media (max-width: 767px) {
    .navbar-nav.ml-auto {
        border-top: 1px solid rgba(255,255,255,0.5);
        padding-top: 10px;
        margin-top: 10px;
    }

    .guild-icon {
        display: none;
    }

    .nav-item {
        border-top: 1px solid #fff;
        margin: 8px 0 0;
    }
}

.breadcrumbs {
    margin: 0.8rem 0 1rem; font-size: 1.5rem;
}

.breadcrumbs a, .breadcrumbs a:hover {
    text-decoration: none;
}

.breadcrumb-divider {
    margin: 0 8px;
}

.guild-name {
    line-height: 1.5;
    font-size: 20px;
}

.guild-icon {
    border-radius: 20px;
    width: 20px; height: 20px; margin-top: -3px;
}

.games {
    display: grid; grid-template-columns: 1fr; grid-gap: 10px;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .games {
        grid-template-columns: 1fr 1fr;
    }
    
    .no-games {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: 900px) {
    .games {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .no-games {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

.game {
    border-radius: 5px; background: #36393F; padding: 10px;
    cursor: pointer; transition: box-shadow 500ms ease;
    box-shadow: 0 0 0 rgba(0,0,0,0.75); color: #fff;
    text-decoration: none;
}

.game:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.75); color: #fff;
    text-decoration: none;
}

.game-name {
    font-size: 16px;
}

.game div {
    font-size: 12px;
}

.game .buttons {
    margin-top: 10px;
}

.no-guilds {
    max-width: 400px; margin: auto; text-align: center; padding: 20px;
    position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%);
    border-radius: 8px; background: #36393F;
}

.game-description {
    display: none;
}