input[readonly], input[disabled] {
    background-color: #aaa !important;
}

.form-control {
    color: #fff;
    background-color: #484C52;
    border: 1px solid #484C52;
}

input[readonly], input[disabled] {
    background-color: #2B2C31 !important;
    border-color: #2B2C31;
}

.input-group-text {
    color: #fff;
    background-color: #484C52;
    border: 1px solid #484C52;
}

.pinfo {
    padding: 5px 0;
}

.pinfo p {
    margin: 5px 0;
    padding: 0;
}

.games {
    display: grid; grid-template-columns: 1fr; grid-gap: 10px;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .games {
        grid-template-columns: 1fr 1fr;
    }
    
    .no-games {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: 900px) {
    .games {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .no-games {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

.game {
    border-radius: 5px; background: #36393F; padding: 10px;
    cursor: pointer; transition: box-shadow 500ms ease;
    box-shadow: 0 0 0 rgba(0,0,0,0.75); color: #fff;
    text-decoration: none;
}

.game.upcoming {
    padding: 10px 10px 50px; position: relative;
}

.game:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.75); color: #fff;
    text-decoration: none;
}

.game-name {
    font-size: 16px;
}

.game div {
    font-size: 12px;
}

.game .buttons {
    position: absolute; bottom: 10px; left: 10px;
}

.no-guilds {
    max-width: 400px; margin: auto; text-align: center; padding: 20px;
    position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%);
    border-radius: 8px; background: #36393F;
}

.game-description {
    display: none;
}

#events-list .game {
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}

#events-list .game .game-name {
    margin-right: 70px;
}

#events-list .game .buttons {
    top: 0;
    right: 0;
    left: auto;
}

#events-list .game .buttons .btn {
    border-radius: 0;
}

#weekdays-selector {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-gap: 4px;
}

#weekdays-selector label.btn {
    width: 100%;
}

#weekdays-selector .btn-secondary:not(:disabled):not(.disabled).active {
    background-color: cornflowerblue;
}