body {
    background-color: #2f3236;
    color: #fff;
}

@-ms-viewport{
    width: device-width;
}

input[readonly], input[disabled] {
    background-color: #aaa !important;
}

.error {
    color: salmon;
}

.bg-primary {
    background-color: #202225 !important;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    color: #fff;
    background-color: #484C52;
    border: 1px solid #484C52;
}

input[readonly], input[disabled] {
    background-color: #2B2C31 !important;
    border-color: #2B2C31;
}

.input-group-text {
    color: #fff;
    background-color: #484C52;
    border: 1px solid #484C52;
}

.pinfo {
    padding: 5px 0;
}

.pinfo p {
    margin: 5px 0;
    padding: 0;
}

.guild-name {
    line-height: 20px;
    font-size: 20px;
}

.guild-icon {
    border-radius: 20px; box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    width: 20px; height: 20px;
}