body {
    background-color: #2f3236; color: #fff;
}

.content {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    font-size: 2rem; font-family: sans-serif;
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
}

h1 { font-size: 64px; }
h1 img { width: 64px; margin-top: -10px; }

@media (max-width: 500px) {
    h1 { font-size: 48px; }
    h1 img { width: 48px; margin-top: -8px; }
}

@media (max-width: 400px) {
    h1 { font-size: 32px; }
    h1 img { width: 32px; margin-top: -6px; }
    h3 { font-size: 24px; }
}